body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #222;
    background: #323232;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;
}

.card{
    background: linear-gradient(180deg, #FF7777 0%, #FFA69A 52.08%, #FFC9AD 100%);
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    height: 400px;
    max-height: 100%;
    margin: 1em;
    padding: 35px;
}

h1.temp{
    font-weight: 200;
    display: flex;
}

h1{
    font-weight: 200;
    font-size: 40px;
    position: relative;
}

.desc{
    position: relative;
    justify-content: baseline;
    font-weight: 400;
    margin-top: 4%;
}

.img-cloud{
    width: 280px;
    margin: -3%;
    justify-content: baseline;
}

img{
    max-width: 100%;
    position: absolute;
}

.temp{
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 50px;
    font-weight: 200;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.card-cont{
    margin: 5%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: rgba(255, 113, 113, 0.5);
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 80px);
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "loading...";
    color: white;
    top: 0;
    position: absolute;
    left: 20px;
}